@font-face {
    font-family: CursedTimer;
    src: url("CursedTimer.ttf");
}
body{
    margin: 0;
    background-image: url("bballcourt.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;

}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 500px;
    background-color: #003566;
    margin: 20px auto;
    padding-bottom: 20px;
    border: 3px solid white;
}

.score-label {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.score {
    font-family: CursedTimer;
    color: #D60A51;
    font-size: 100px;
    padding: 20px 0 5 0;
    margin: auto;
}

.score-bg {
    background-color: black;
    height: 120px;
    border-radius: 7px;
    padding-bottom: 15px;
}

.btn {
    margin-top: 20px;
    background-color: #003566;
    color: #4984B7;
    border: 2px solid #4984B7;
    border-radius: 5px;
    padding: 10px 12px;
}


